body{
	background-color #f5f6fa
    margin 0px;
    font-size 14px;
    font-family: 'Roboto', sans-serif;
}
 

 h1, h2, h3, h4, h5, h6,ul, body, html{
     padding 0px;
     margin 0px;
     }
     
     .wrapper{

        min-height 100vh;
        overflow hidden;
        
     }
     
     .mtbottom16{
margin-bottom 16px;
}
     
     .col1{

        float left;
        position relative;
        z-index 999;
        width 17%;
     }
     
     .col2{
        float left;
        width 83%;
     }
     
  

    .sidebar{

        background-color white;
        min-height 100vh; //para abarcar toda la pantalla
    }
    
    .section-top{

        background-color #2caaff; 
        /*altura, anchura,  textura de la sombra, propagacion de la sombre*/
        box-shadow  6px  6px 5px -6px rgba(0,0,0,1); 
       
        
    }
    
    .mtop16{
margin-top 16px
}


    
    .logo{

        display block;
        margin 0px auto;
    }


    .user{

        color #fff !important;
        padding 0px 16px 16px 16px;
    }
    
    .main //para separar el cuadro de arriba (donde esta el logo) de las opciones de abajo
        {
        display block;
        margin-top 10px;
    }

    .main 
        ul
          li
              {
              margin-bottom 4px;
              

                    }
                    


    .main ul li a //opciones del menu lateral
         {     
        color #8998AC;
        text-decoration: none;
        display block;
        font-size 1.1em; 
        padding 12px 12px 12px 12px;        
  
         }
    

 
          .main li:hover a:hover
        {
            background-color #2caaff;
            color:white;
            box-shadow 0 0.5rem 1rem rgb(0, 0, 0, 0.15)
        
        }  
        
         .main .active 
              {

            background-color #2caaff;
            color:white;
            box-shadow 0 0.5rem 1rem rgb(0, 0, 0, 0.15)


        }
        //barra lateral

        .navbar {
            background-color #2caaff;
           
        }
        .navbar a
        {
        color white;
        }
        
        .page{
            
        padding-bottom 16px;
        padding-top 16px;
        

        }
        .breadcrumb{

            background-color white;
            padding 15px;
            box-shadow: 0px 10px 10px -6px black;
        }
        

        .panel{
            background-color #fff;
            border-radius 6px;
            border-bottom 2px solid #2caaff;
        }
        
        .header{
            border-bottom 1px solid #e8e8e8;
        }
        
        h2.title{
            display inline-block;
            color #19213d;
            font-size 1.1em;
            padding 12px 16px;
                    
                    }
        .inside{
        
        padding 16px;

        }  
        
        .opts a{
        
        display inline-block;
        border 1px solid #dedede;
        padding 8px;

        }  
        .opts a:hover{
        
       box-shadow: 0px 0px 5px 1px gray;

        } 
        
        .btns a {
            text-decoration none;
            font-size 1.1em;
        }
        
        .marg{

            margin-right 5px;
        }
    
    .navegacion{
    

    display inline-block;
    padding 6px 16px;
    } 
          
   .Product_gallery{
        
        overflow hidden;
    

    }    




    .Product_gallery .tumb{
        

        float left ;
        margin-right 1%;
        width 100%;
        display block;
    

    }   
    


    .Product_gallery .tumb a {
        

        border 1px dashed #6666;
        font-size 2em; 
        text-align center;
        padding 20px 0px;
        width 100%;
        display block;
        text-decoration none;
        color #333;
        border-radius 4px;
        
    

    }          
                    


   .Product_gallery .tumb a:hover {
        

       color white;
       background-color #2caaff;
        
    

    }  
    


    .gallery{
    

     padding 5px 16px 16px 16px;


    }
    
    .gallery img{
    
     
     display inline-block;
     border-style: solid;
     border-color : #ABB2B9;
     border-width:1px;
     box-shadow: 0px 5px 5px 1px rgba(128,139,150,1);





    }     
    

    .equis{
    
     border 1px solid;
     padding 3px;
     background-color red;
     color white;
     border-radius: 50%;
     font-size 10px;

    }  
    


    .cuadro{


        padding:20px;
         border-width:1px; 
         border-style: dotted;
        margin-right 1%;
        width 100%;
          border-color  #B0B4B9;
          display block;
          align center;
          
    }
    

    .cuadro:hover {
            
            a {
                color white;
            }
            background-color #2caaff;
        
            
        }
        
    .perfil img{
        
        width 60%;
        height 200px;
        border-radius: 1000px;
        display block;
        margin auto;
        border-style:solid;
        padding 0px;
        border-radius 50%;
        border-width:1px;
        box-shadow: 0px 5px 5px 0px rgba(157,160,163,1);

        
    }
    
    .perfil p{
        
        font-family: Arial;
        font-size: 140%;
    }
        
       
 .lista_estado{ //boton para filtrar el estado de los productos


    margin-left: 83%;
    margin-top 10px;
    margin-bottom 10px;
    border-style:solid;
     border-width:1px;
      border-color:#B6B6B8;
    color: #949596;
 }
 
 .lista_estado:hover{ //boton para filtrar el estado de los productos


    margin-top 10px;
    margin-bottom 10px;

    border-style:solid;
     border-width:1px;
      border-color:#B6B6B8;
    color: #949596;
 }
 

 .carta_estadistica{
     
     .card-header{

            background-color #2caaff;
            color:white;
            

          }
          

  box-shadow: 0px 10px 10px -6px black;



 }


